*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 0px 5%;
    overflow-x: hidden;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0px;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    color: #D2B48C;
    font-weight: 700;
    font-size: x-large;
}
.menu-item-first{
    color: #2BAE7A;
}
.logo img{
    width: 80%;
}
.iconsNav{
    display: flex;
    align-items: center;
    justify-content: end;
}
.Shopping{
    width: 40%;
    margin-right: 10px;
}
.Frame{
    width: 35%;
}
.welcome{
    display: flex;
}
.contentWelcome{
    display: flex;
    flex-direction: column;
    width: 52%;
    justify-content: center;
}
.imgWelcome{
    width: 48%;
}
.title{
    display: flex;
    align-items: end;
    color: #2BAE7A;
    font-weight: bolder;
    font-size: x-large;
}
.title img{
    width: 7%;
    margin-bottom: 2.5rem;
    margin-left: -1rem;
}
.textWelcome{
    margin: 2rem 0px;
}
.textWelcome p{
    color: #2BAE7A;
    font-size: x-large;
}
.textWelcome h2{
    color: #D2B48C;
    font-size: xx-large;
    margin: 0.3rem 0px;
}
.description p{
    font-size: large;
    color: #2BAE7A;
}
.button button{
    color: white;
    font-size: medium;
    background-color: #2BAE7A;
    border: none;
    border-radius: 5px;
    padding: 15px 60px;
    font-weight: bold;
}
.button img{
    width: 10%;
    margin-left: 2rem;
}